footer {
  display: flex;
  flex-direction: column;
  align-self: end;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.8em;
  padding-top: 4.5em;

  position: relative;
}
footer:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom-right-radius: 100em 5em;
  border-bottom-left-radius: 100em 5em;
}
footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #fff url(https://diettodoor.com/bg-body.jpg) 0 0 repeat;
  background: #fff url(https://diettodoor.com/bg-body.jpg) 0 0 repeat;
}
footer section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column-gap: 22px;
  -moz-column-gap: 22px;
  column-gap: 22px;
  grid-row-gap: 50px;
  row-gap: 50px;
  width: 100%;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 10px;
  gap: 10px;
}
footer nav ul li {
  list-style-type: none;
}
footer nav ul li .list__title {
  text-transform: uppercase;
  color: rgba(23, 80, 67, 0.78);
  font-weight: 100;
}
footer nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  grid-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  line-height: 1.1;
  color: rgba(0, 96, 147, 0.78);
  transition: color 0.2s ease-in-out;
}
footer nav ul li a svg {
  min-width: 35px;
  transition: color 0.2s ease-in-out;
  filter: grayscale(1);
}
footer nav ul li a:hover svg {
  filter: grayscale(0);
}
footer nav ul li a:hover {
  color: #001c46;
}

.facebook {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 20% 0;
  background-repeat: no-repeat;
}

.instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.twitter {
  color: #1da1f2;
}

.linkedin {
  color: #4875b4;
  border-radius: 10px;
}

.social {
  transition: all 0.7s ease-in-out;
  margin: 15px;
}

.social:hover {
  transform: rotate(360deg);
}

#copyrigth {
  font-size: 0.7em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 15px;
  font-weight: 500;
  line-height: 2em;

  color: #000000;
  background-color: #fff;
}
